@import 'reset';

$background-color: #fff;
$text-color: #333;
$link-color: #c0392b;
$link-color-hover: #f1c40f;
$footer-color: #222;

* {
    box-sizing: border-box;
}

html, 
body {
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background-color: $background-color;
    color: $text-color;
    height: 100%;
    margin:0;
    padding:0;
    position: relative;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding: 25px;
}

header {
    margin-bottom: 25px;
}

section {
    margin-bottom: 50px;
}

footer {
    height: 50px;
    color: $text-color;
    background-color: $footer-color;
    position: absolute;
    width: 100%;
    padding: 1em;
    bottom: 0;
    left: 0;
    text-align: center;

    small {
        font-size: 75%;
    }
}

h1 {
    font-size: 175%;
    margin-bottom: 12px;
}

h2 {
    font-size: 150%;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color + #333;
    }
}

.controls {
    border: 1px solid #333;
    padding: 1em;
    border-radius: 1em;
}

.row {
    margin: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col {
    display: inline-block;
    width: 5em;
    height: 5em;
    border: solid 1px black;
    vertical-align: middle;
    margin: 0em;
    line-height: 5em;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}